@model IEnumerable<DiaOito.Medicos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>       
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Cidades.Cidade)
        </th>
        <th>
            Especialidade(s)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidades.Cidade)
        </td>
        <td>
            @foreach (var item2 in item.MedicoPorEspecialidade)
            {
               @Html.DisplayFor(modelItem => item2.Especialidades.Especialidade)
               @(item2 != item.MedicoPorEspecialidade.Last() ? ", " : "")
            }

            </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
            @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
        </td>
    </tr>
}

</table>
